<h2 id="title">Current adverts</h2>
            @for (ad of allAds; track ad){
                <div class="advert">
                    <div class="adRow">
                        <h2>{{ad.title}}</h2>
                    </div>
                    <p>{{ad.description}}</p>
                    <img src="http://localhost:3000/uploads/{{ad.image}}">
                    <div class="adRow">
                        <p class="type">{{ad.category}}</p>
                        <p class="price">{{ad.price}} HUF</p>
                    </div>
                </div>
            }