<mat-toolbar>
    <a mat-button disableRipple routerLink="">
      <p id="SiteTitle">MicRAD</p>
    </a>
    
    <a mat-button routerLink="adverts">
      <p>Advertisments</p>
    </a>
    
    <a mat-button routerLink="userPanel" *ngIf="isLogged">
      <p>My adverts</p>
    </a>

    <span class="spacer"></span>
    
    <div id="navButton">
      <a mat-button routerLink="login" *ngIf="!isLogged">
        <p>Sign in</p>
      </a>
      <a mat-flat-button routerLink="register" *ngIf="!isLogged">
        <p>Sign up</p>
      </a>
      
      <a mat-flat-button routerLink="logout" *ngIf="isLogged">
        <p>Logout</p>
      </a>
    </div>
  </mat-toolbar>