<!-- Sexy user panel-->
<div id="griddy">
    <h1 id="title">
        Welcome back, {{un}}!
    </h1>
    <div id="row">
        <div class="floaty-panel side-panel" id="MyCurrentAdverts">
            <h2>My current adverts</h2>
            @for (ad of userAds; track ad){
                <div class="advert">
                    <div class="adRow">
                        <h2>{{ad.title}}</h2>
                        <button mat-flat-button (click)="Delete(ad.image)">X</button>
                    </div>
                    <p>{{ad.description}}</p>
                    <img src="http://localhost:3000/uploads/{{ad.image}}">
                    <div class="adRow">
                        <p class="type">{{ad.category}}</p>
                        <p class="price">{{ad.price}} HUF</p>
                    </div>
                </div>
            }
        </div>
        <div class="floaty-panel side-panel" id="CreateAdvert">
            <h2>Create a new advert</h2>

            <mat-form-field>
                <mat-label>Title</mat-label>
                <input name="ADT" [(ngModel)]="ad.title" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput [(ngModel)]="ad.description"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Price</mat-label>
                <input name="ADP" [(ngModel)]="ad.price" type="number" matInput>
            </mat-form-field>

            <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
            <input hidden (change)="onFileSelected($event)" #fileInput type="file" accept="image/png, image/jpeg" name="image-file-input">
            <span class="file-name">{{ad.image?.name}}</span>


            <mat-form-field>
                <mat-label>Category</mat-label>
                <mat-select [formControl]="Control">
                  <mat-option>-- None --</mat-option>
                  @for (group of Groups; track group) {
                    <mat-optgroup [label]="group.name"
                                  [disabled]="group.disabled">
                      @for (cat of group.cat; track cat) {
                        <mat-option [value]="cat.value">{{cat.viewValue}}</mat-option>
                      }
                    </mat-optgroup>
                  }
                </mat-select>
            </mat-form-field>
              
            <button mat-flat-button (click)="CreateAdvert()">Create</button>
            
        </div>
    </div>
    
</div>