h1 {
    color: #eedee7;
    font-size: 4rem;
    text-align: justify;
    font-weight: bold;
}
h2 {
    color: #eedee7;
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px auto 10px;
}
p {
    color: #eedee7;
    font-size: 1.25rem;
    text-align: justify;
    font-weight: bold;
}
span {
    color: #eedee7;
    font-size: 1rem;
    text-align: justify;
    font-weight: bold;
}
#griddy {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
}
#row{
    width: 85vw;
    min-height: 500px;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
    gap: 25px;
}
#middle{
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: space-evenly;
    flex-grow: 6;
    gap: 25px;
}
#subrow{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-evenly;
    gap: 25px;
}
#title{
    grid-area: 1 / 2 / 2 / 7;
    justify-self: center;
    font-size: 4rem;
}
.side-panel{
    flex-grow: 1;
}
.floaty-panel {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    background: radial-gradient(circle at 100% 100%, var(--mat-sys-surface) 0, var(--mat-sys-surface) 25px, transparent 25px) 0% 0%/30px 30px no-repeat,
            radial-gradient(circle at 0 100%, var(--mat-sys-surface) 0, var(--mat-sys-surface) 25px, transparent 25px) 100% 0%/30px 30px no-repeat,
            radial-gradient(circle at 100% 0, var(--mat-sys-surface) 0, var(--mat-sys-surface) 25px, transparent 25px) 0% 100%/30px 30px no-repeat,
            radial-gradient(circle at 0 0, var(--mat-sys-surface) 0, var(--mat-sys-surface) 25px, transparent 25px) 100% 100%/30px 30px no-repeat,
            linear-gradient(var(--mat-sys-surface), var(--mat-sys-surface)) 50% 50%/calc(100% - 10px) calc(100% - 60px) no-repeat,
            linear-gradient(var(--mat-sys-surface), var(--mat-sys-surface)) 50% 50%/calc(100% - 60px) calc(100% - 10px) no-repeat,
            linear-gradient(#810081 0%, #ffabf3 100%);
    border-radius: 30px;
    padding: 20px;
    box-sizing: content-box;
}