h1 {
    color: #eedee7;
    font-size: 4rem;
    text-align: justify;
    font-weight: bold;
}
p {
    color: #eedee7;
    font-size: 1.25rem;
    text-align: justify;
    font-weight: bold;
}
#griddy {
    display: grid;
    grid-template-columns: calc(30px + 10vw) repeat(5, 1fr) calc(30px + 10vw);
    grid-template-rows: repeat(5, 150px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
#title{
    grid-area: 1 / 2 / 2 / 7;
    justify-self: center;
    font-size: 4rem;
}

.floaty-panel {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: content-box;
    background: radial-gradient(circle at 100% 100%, var(--mat-sys-surface) 0, var(--mat-sys-surface) 25px, transparent 25px) 0% 0%/30px 30px no-repeat,
            radial-gradient(circle at 0 100%, var(--mat-sys-surface) 0, var(--mat-sys-surface) 25px, transparent 25px) 100% 0%/30px 30px no-repeat,
            radial-gradient(circle at 100% 0, var(--mat-sys-surface) 0, var(--mat-sys-surface) 25px, transparent 25px) 0% 100%/30px 30px no-repeat,
            radial-gradient(circle at 0 0, var(--mat-sys-surface) 0, var(--mat-sys-surface) 25px, transparent 25px) 100% 100%/30px 30px no-repeat,
            linear-gradient(var(--mat-sys-surface), var(--mat-sys-surface)) 50% 50%/calc(100% - 10px) calc(100% - 60px) no-repeat,
            linear-gradient(var(--mat-sys-surface), var(--mat-sys-surface)) 50% 50%/calc(100% - 60px) calc(100% - 10px) no-repeat,
            linear-gradient(#810081 0%, #ffabf3 100%);
    border-radius: 30px;
    padding: 20px;
    box-sizing: content-box;
}