/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(0deg, rgba(129,0,129,1) 0%,rgba(0,0,0,1) 25%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(0deg, rgba(129,0,129,1) 0%, rgba(255,171,243,1) 50%, rgba(129,0,129,1) 100%);
    border-radius: 10px;
    box-sizing: content-box;
    transition-duration: 500ms;
}

::-webkit-scrollbar-track{
    background: linear-gradient(0deg, rgba(129,0,129,1) 0%,rgba(0,0,0,1) 25%);
}