<div>
  <div id="reg-form">
    <h1 id="reg-title">Sign up</h1>
    <mat-form-field class="example-full-width" >
      <mat-label>Username</mat-label>
      <input name="UN" [(ngModel)]="user.name" matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>E-mail</mat-label>
      <input name="UE" [(ngModel)]="user.email" matInput type="email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input name="UP" [(ngModel)]="user.password" matInput type="password">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Confirm password</mat-label>
      <input name="UC" [(ngModel)]="user.confirm" matInput type="password">
    </mat-form-field>
    <button mat-flat-button (click)="registration()">Sign up</button>
  </div>
</div>
    